@(proposalForm: Form[Proposal])

@import helper._

@main("New Proposal") {
    @* use nort URI but route in code *@
    @form(action = routes.Application.submitProposal()) {
        <h3>Proposal</h3>
        @inputText(proposalForm("title"))
        @textarea(proposalForm("proposal"))
        @inputText(proposalForm("keywords"))

        <h3>Speaker</h3>
        @inputText(proposalForm("speaker.name"))
        @inputText(proposalForm("speaker.email"))
        @textarea(proposalForm("speaker.bio"))
        @inputText(proposalForm("speaker.twitterID"))
        @inputText(proposalForm("speaker.pictureURL"))

        <button type="submit" formmethod="post">Submit</button>
    }

}